html
  head
    link(rel="stylesheet" href="/static/css/__auth.css")
  body
    div.center__wrap.center__wrap--header
      div.header
        block Header
    div.center__wrap.center__wrap--input
      div.input__wrap
        block Body