@import url('https://fonts.googleapis.com/css?family=NTR');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
/** Styling specific for the notifications inside the notification box. */
.notif__wrap{
  width: 100%;
  border-bottom: 1px solid #DDD;
  min-height: 50px;
  padding: 5px 5px 10px 5px;
  box-sizing: border-box;
}
  .notif__header{
    width: 100%;
    height: 30px;
    font-family: NTR;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #59ABE3;
  }

  .notif__body{
    font-size: 12px;
    font-family: Inconsolata;
  }
  .notif__answer{
    padding: 5px;
    font-family: Inconsolata;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 7.5px;
    border: 0;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 1px #DDD;
    background-color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    outline: 0;
  }
  .notif__answer--accept{
    background-color: #446CB3;
    color: #FFF;  
  }
  .notif__answer--decline