html
  head
    link(rel="stylesheet" href="/static/css/home.css")
  body
    .background__image#background__image--img
    .background__image#background__image--dots
    #main__header
      span.text
      div.cursor
    #main__subheader
      span.text
      div.cursor
    div.button__wrap
      button#signup__button LOGIN
      button#login__button SIGNUP
        br
        span(style="font-size: 10px") (It's Free)
    div.loader
      div.loader__bubble
      div.loader__bubble
      div.loader__bubble
  script(src="/static/js/write.js")