html
  head
    link(rel="stylesheet" href="/static/css/user/template.css")
    block Head
  body
    div#navbar
      div#loading__bar
      div#navbar__inner
        a(href="/home")
          div.navbar__logo Code
            div.navbar__logo.navbar__logo--bold Synco
        input.navbar__search(placeholder="Search for repos, peoples, and files..")
        div.user__wrap
          div.user__item.user__item--name Hi, Joe
          div.user__item.user__item--img
          div.user__item.user__item--notify
    iframe#main__frame
    block Body