html
  head
    link(rel="stylesheet" href="/static/css/user/template.css")
    block Head
  body
    div#navbar
      div.navbar__inner
        div.logo__wrap Code
          span.logo__small Synco
    block Body
