html
  head
    link(rel="stylesheet" href="/static/css/user2/template.css")
    block Head
  body
    div#navbar
      div#navbar__inner
        div#navbar__logo
          span.navbar__bold Code
          |Synco
        div#navbar__user
          div#navbar__userName Joe
          div#navbar__userProf
    block Body