extends __template
block Head
  link(rel="stylesheet" href="/static/css/user/home.css")
block Body
  #main__wrap
    .space__header CREATED SPACES
    .space__subheader Spaces that you own.
    .space__card.material
      .space__bar
      .space__name My Cool Space
      .space__edited Edited: 10 mins ago
      .space__collabWrap
        .space__collabHeader COLLABORATORS
        .space__collaborator
        .space__collaborator
        .space__collaborator
        .space__collaborator
    .space__card.material
      .space__bar
      .space__name My Cool Space
      .space__edited Edited: 10 mins ago
      .space__collabWrap
        .space__collabHeader COLLABORATORS
    .space__card.material
      .space__bar
      .space__name My Cool Space
      .space__edited Edited: 10 mins ago
      .space__collabWrap
        .space__collabHeader COLLABORATORS
    .space__card.material
      .space__bar
      .space__name My Cool Space
      .space__edited Edited: 10 mins ago
      .space__collabWrap
        .space__collabHeader COLLABORATORS
    .space__card.space__card--new NEW +