extends __template


block Head
  link(rel="stylesheet" href="/static/css/user/profile.css")
block Body
  #main__wrap
    .profile__side
      .profile__img
        img(src="http://animals.sandiegozoo.org/sites/default/files/2016-11/animals_hero_giraffe_1_0.jpg" height="100%")
      .profile__name Joe Thomas
      .profile__handle @joe-tom
      .profile__comingSoon More cool things coming soon!