extends __template

block Head
  link(rel="stylesheet" href="/static/css/user2/repo.css")
  style.
    .space__bar{
      position: absolute;
      top: 50px;
      left: 0px;
      height: 3px;
      width: 10%;
      background: url(/static/img/galaxy.jpg) -1000px -500px;
    }
    #name__input{
      font-family: Quicksand;
      font-size: 30px;
      font-weight: 100;
      color: #000;
      border: 0;
      width: calc(100% - 100px);
      padding: 20px;
      margin: 50px;
      margin-top: 0;
      box-sizing: border-box;
      outline: 0;
      letter-spacing: 0.75;
      border-bottom: 3px solid #f9f9f9;
    }
    #name__input::-webkit-input-placeholder{
      color: #888;
    }
    #collab__input::-webkit-input-placeholder{
      color: #888;
    }
    .fadeMe{
      -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 1s; /* Firefox < 16 */
          -ms-animation: fadein 1s; /* Internet Explorer */
           -o-animation: fadein 1s; /* Opera < 12.1 */
              animation: fadein 1s;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    .cool__header{
      width: 100%;
      text-align: left;
      font-family: Quicksand;
      font-size: 10px;
      color: #999;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 50px;
      margin-left: 70px;
    }
    .collab__wrap{
      width: 100%;
      margin-left: 70px;
      text-align: left;
      margin-top: 20px;
    }
      #collab__input{
        width: 400px;
        padding: 15px;
        padding-left: 50px;
        border: 0;
        border-bottom: 2px solid #f9f9f9;
        width: calc(100% - 100px);
        box-sizing: border-box;
        font-family: Quicksand;
        font-size: 13px;
        outline: 0;
        background: url(/static/img/glass.png) center left 10px no-repeat;
        background-size: 30px;
      }

    #new__space{
      padding: 15px 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: Montserrat;
      font-weight: 300;
      font-size: 12px;
      color: #8E44AD;
      background-color: #FFF;
      border: 0;
      border-radius: 5px;
      outline: 0;
      cursor: pointer;
      border:  1px solid #8E44AD;
      margin-top: 100px;
      transition: background-color .25s;
    }
      #new__space:hover{
        background-color: #8E44AD;
        color: #FFF;
        transition: background-color .25s;
      }
      .smaller__wrap{
      width: 80%;
      margin: auto;
      }
block Body
  #main__wrap
    .smaller__wrap
      .space__bar.fadeMe
      .cool__header :: NAME ::
      input#name__input.fadeMe(placeholder="Give your space a great name" spellcheck="false" v-model="name" @keyup="verifyInput" maxlength="40")
      .cool__header :: COLLABORATORS ::
      div.collab__wrap
        input#collab__input.fadeMe(placeholder="Enter the usernames or emails of some collaborators")
      button#new__space Generate Space

  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js")
  script.
    var MajorInput = new Vue({
      el: '#name__input',
      data: {
        name: ""
      },
      methods: {
        verifyInput: function () {
        console.log(this.name)
          this.name = this.name.replace(/([^A-Za-z0-9-]|-{2,})/g, '').replace(/ /g, '-')
        }
      }
    })
