extends __template

block Head
  link(rel="stylesheet" href="/static/css/user2/repo.css")

block Body
  #main__wrap
    div.repo__title(contenteditable="true" spellcheck="false") Codesync Server
    div.repo__bar
    div.repo__collabWrap
      div.collab__header Collaborators
        br
        button.collab__editbtn.material Edit Permissions
        button.collab__editbtn.material.collab__addbtn ADD +
      div.collab__wrap
        div.collab__container.material
        div.collab__container.material
        div.collab__container.material
        div.collab__container.material
    div.repo__fileWrap
      div.file__header SPACE FILES
      div.file__wrap
        div.file__item.file__item--file this_is_a_file.png
        div.file__item.file__item--folder THIS_IS_A_FOLDER
          div.file__item.file__item--file this_is_a_file__inside.png