extends __template

block Head
  link(rel="stylesheet" href="/static/css/user/repo__people.css")
block Body
  #main__wrap
    #repo__title codesync-server
    #repo__author @joe-tom
    #repo__description 
      h1(style="font-weight: 300;font-size: 28px;") Lorem Ipsum
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel eros libero. Aliquam urna leo, posuere lacinia justo eu, mattis sagittis enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris dolor turpis, vehicula non pretium eu, dapibus faucibus dui. Suspendisse fermentum iaculis neque, non consequat arcu lacinia sed. Donec sit amet consequat lorem. Nunc id condimentum diam. Proin sit amet ex in lacus finibus congue sed non mauris. Nunc quis quam metus. Maecenas congue velit eu feugiat maximus. Integer laoreet lorem sed orci congue, aliquam suscipit dui dignissim. Donec eget tincidunt felis, vitae auctor quam.
    #repo__files
      .file__file