@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
  text-align: center;
}

/** Styling for that large text on the front. */
#main__header {
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  text-align: left;
  font-family: Quicksand;
  font-size: 50px;
  height: 50px;
} 
#main__subheader {
  width: 1000px;
  margin: auto;
  text-align: left;
  font-family: Quicksand;
  font-size: 30px;
  height: 30px;
  margin-top: 15px;
}
  .text{
    float: left;
  }
  .cursor{
    height: 100%;
    width: 1.5px;
    background-color: #DDD;
    float: left;
  }

/** Styling for the signup and login button. */
.button__wrap{
  width: 1000px;
  margin: auto;
  margin-top: 200px;
  text-align: left;
}
  #signup__button{
    font-family: Courier;
    border: 0;
    background-color: #000;
    border: 1px solid #000;
    padding: 15px;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    width: 100px;
    margin-left: 20px;
  }
  #login__button{
    font-family: Courier;
    border: 0;
    background-color: #FFF;
    border: 1px solid #000;
    padding: 15px;
    color: #000;
    cursor: pointer;
    outline: 0;
    width: 100px;
  }




.background__image{
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -600px;
  height: 100%;
  width: 1200px;
  z-index: -1;
}
  #background__image--img{
    background: rgba(0,0,0,0.2);
  }
  #background__image--dots{
    background: url(/static/img/dots.png) rgba(255,255,255,0.8);
    background-size: 50px;
  }