extends __template

block Head
  link(rel="stylesheet" href="/static/css/user/repo.css")

block Body
  #main__wrap
    div.space__headerBar
    div.space__titleWrap
      div(contenteditable="true").space__title Unnamed Space
    div.space__edit Last Edited, 17 mins ago
    div.space__share Share this link with friends! : #[strong#space__link codesync.com/s/293urji]
    div.space__link LINK TO GIT PROJECT
    div.space__collabWrap
      strong.space__collabHeader Collaborators
      div.space__collab
      div.space__collab
      div.space__collab
  script.
    document.getElementById('space__link').addEventListener('click', function (e) {
    SelectText(e.target)
    })
    function SelectText(text) {
      var selection = window.getSelection();
      var range = document.createRange();
      range.selectNodeContents(text);
      selection.removeAllRanges();
      selection.addRange(range);
    }